.App {
  text-align: center;
}

.bg-BlueViolet {
  background-color: #8a2be2;
}
.bg-Chocolate {
  background-color: #d2691e;
}
.bg-DarkCyan {
  background-color: #008b8b;
}
.bg-DarkOliveGreen {
  background-color: #556b2f;
}
.bg-HotPink {
  background-color: #ff69b4;
}

.bg-Indigo {
  background-color: #4b0082;
}

.bg-LightSkyBlue {
  background-color: #87cefa;
}

.bg-Orange {
  background-color: #ffa500;
}

.bg-Teal {
  background-color: #008080;
}
